.header {
    background-color: #5F8F25;
    z-index: 20;
    padding: 20px 0px;
    margin-bot:100px;
}

.btn-register, .btn-register:focus {
    font-size: 16px;
    color: #5F8F25;
    background: white;
    padding: 8px 23px;
    border-radius: 4px;
    transition: 0.3s;
}

.btn-register:hover {
    color: #AEF558;
}

#logoText h1{
    font-size: 36px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 300;
    letter-spacing: 3px;
    margin-bottom: .5rem;
}

#logoText h1 a{
    color: #fff; 
    text-decoration: none;
}

